{% extends "base.html" %}

{% block body_class %}login-bg{% endblock %}

{% block content %}

<div class="card login-card">
  <h2>Login</h2>
  {% if registration_success %}
    <p class="login-success">
      Your account has been created.
      Please log in to continue.
    </p>
  {% endif %}


  {% if has_error %}
    <p class="login-error">
      Invalid email or password.
    </p>
  {% endif %}


  <form class="auth-form" method="post" action="/login" autocomplete="off">

    <input
        name="email"
        type="email"
        placeholder="Email"
        required
        autocomplete="off"
    >

    <input
        name="password"
        type="password"
        placeholder="Password"
        required
        autocomplete="new-password"
    >

    <button type="submit">Login</button>
  </form>

</div>

{% endblock %}
